<h3>Peer-Marked MarkSet</h3>
<p>This MarkSet creates a coversheet intended for an in-class peer-marking exercise.</p>
<p>Space is provided for both the student and marker to bubble in their student ID or designated 8-character "code" and names. The gradesheet produced will contain both users' information.</p>

<p>If you choose to return results to your students via email, the marker's name and ID will be removed from the page.</p>

<b>Note: It is recommended you add a "unknown" student to your classlist to handle cases where the marker fails to input their information, or a student not in your classlist acts as a marker.</b>
